{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <section class="content-section container">
        <h2 class="section-header">Home</h2>
        <p class="text-about-me"> My name is Scott Gardner and I graduated from Brigham Young University (BYU) with my master's degree. My graduate research was focused on coal combustion. The title of my thesis was "Completion and Initial Testing of a Pressurized Oxy-Coal Reactor". The goal of the research is to developing a process to burn coal cleanly and efficiently. This technology would allow the United States to take advantage of their large coal reserviosrs while producing minimal carbon dioxide.</p>
        <p>My interests include:</p>
        <ul>
            <li>Coding - Python, MATlab, C++</li>
            <li>Web Development - HTML, CSS, JS, Flask</li>
            <li>Experimental Testing</li>
            <li>Computation Fluid Dynamics (CFD)</li>
            <li>Numerical Methods</li>
            <li>Optimization</li>
        </ul>
        <img class="my-image" src="{{ url_for('static', filename='images/Profile_adjusted.jpg')}}">
    </section>
{% endblock %}